node_modules
.pnpm-store
.next
.git
.env*
*.log
*.db
*.db-journal
*.sqlite
*.sqlite3
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
coverage
backups
prisma/backups
public/uploads/*
!public/uploads/.gitkeep
*.tsbuildinfo
.idea
.vscode
.DS_Store
Thumbs.db
